/* */
.contenedorPrincipal {
    height: 100%;
    display: grid;
    grid-template-rows:1fr, auto, 1fr ;
    grid-template-columns:repeat(6,1fr) ;    
}

.bannerPrincipal{
    width: 100%;
    height: 150px;
}

header{
    background-color: whitesmoke;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

.menu{
    background-color: rgb(7, 45, 84);
    grid-column-start:1 ;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;   
    display: flex;
    flex-direction:column;
    justify-content:center; 
  
}

    .logoMenu{
        height: 100px;
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;  
    }
    .tituloAmarillo{
        text-align: center;
        color: rgb(204, 180, 60);
        font-size: 25px;
    }
    .frase{
        text-align: center;
        color: whitesmoke;
        margin-bottom: 80px;
        font-size: 15px;            
    }
    ul{
        list-style: none;
        padding: 0;
        text-align: center;
        
       
    }
    a{
        color: whitesmoke;
        text-decoration: none;
        
    }
    .enlacesMenu{
        font-size: 17px;
        margin-bottom:15px;
        
    }
    .enlaceh2{
    text-decoration: none;
    }


main{
    background-color: whitesmoke;
    grid-column-start:2 ;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

    .tituloCuerpo{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 40px;        
        text-decoration: underline rgb(204, 180, 60);

    }

    .contenedorFlexCuerpo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .flexItem{
            width: 22%;
            margin: 25px;
        }
            .tituloTarjetas{
                border-left: solid rgb(204, 180, 60);
                padding-left: 10px;
            }
            .enlaceTarjetas{
            	color: blue;
            }
footer{
    background-color:rgb(7, 45, 84);     
    grid-column-start:2 ;
    grid-column-end:7 ;
    grid-row-start:3 ;
    grid-row-end: 4;
    margin-top: 40px;
}
    .textoFooter{
        font-size: 18px;
        text-align: center;
        color:whitesmoke;
    }
    #imgredes{
        text-align: center;
        margin-top: 20px;
    }
    .redes {
        height: 40px;
        width: 40px;	
    }


.enlacesMenu :hover {
    color: rgb(204, 180, 60);
}

